* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: white;
}

a{
  text-decoration: none;
}

.active-link{
  padding-left: .9rem;
  color: #fff;
  border-left: 4px solid #db1d40;
}
