.container{
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: .5fr 350px minmax(700px,800px) 350px .5fr;
  grid-template-rows: 1fr 750px 1fr;
}

.menu{
  grid-row: 2/3;
  grid-column: 2/3;
  position: relative;
  background: #7E2236;
  padding: 3rem 4rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.menu.blue{
  background: #023153;
}

.main{
  position: relative;
  grid-row: 2/3;
  grid-column: 3/4;
  background: #232323;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 3rem 4rem;
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px #00000033;
  }
  &::-webkit-scrollbar {
    width: 3px;
    background-color:#303030;
  }
  &::-webkit-scrollbar-thumb {
    background: #c9c9c9;
  }

}

.cue{
  grid-row: 2/3;
  grid-column: 4/5;
  background: #DB1D40;
  overflow: hidden;
  padding: 3rem 4rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.red{
  grid-row: 1/-1;
  grid-column: 1/4;
  background: #DB1D40;
}

.blue{
  background: #02518A;
}

.black{
  grid-row: 1/-1;
  grid-column: 4/-1;
  background: #232323;
}

.work{
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
  img{
    height: 80px;
  }
  h3{
    color: silver;
    font-size: 1.4rem;
    text-transform: uppercase;
  }
}

ul.ngx-pagination{
  text-align: center;

  li{
    font-size: 15px;
  }

  a{
    color: white;
  }
}

