.logo {
  display: flex;
  align-items: center;
  &__label {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: .2rem;
  }

  &__img {
    height: 40px;
    margin-right: 1.5rem;
  }
}

.nav {
  margin: 5rem 0;

  &__label {
    margin: 1rem 0;
    font-size: 1.6rem;
  }

  &__list {
    &__item {
      padding-left: 1.3rem;
      backface-visibility: hidden;
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      margin: 2rem 0;
      color: #F0E6E8;
      cursor: pointer;
      &:hover {
        color: white;
      }
    }

    &__link {
      text-decoration: none;
      color: inherit;
    }
  }
}

.fa {
  font-size: 1rem !important;
  margin-right: .8rem;
  &__big {
    color: #F0E6E8;
    margin-left: 1rem;
    font-size: 1.7rem !important;
  }
}

.router-link-exact-active {
  padding-left: .9rem;
  color: white;
  border-left: 4px solid #DB1D40;
}

.premium {
  color: #FDAB00;
}

.watermark {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  img {
    margin: 0 1rem;
    height: 50px;
  }
  &__label {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d8bfd8;
  }
  &__icon {
    font-size: 2rem !important;
    margin-left: 1rem;
  }
}

.form{
  margin-top: 25px;

  button{
    border: 1px solid transparent;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    border-color: #28a745;
    background-color: #28a745;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;

  select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #e6e6e6;
    color: #7b7b7b;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &::-ms-expand {
      display: none;
    }

    &:hover, &:focus{
      color: #000;
      background: #ccc;
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .select__arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #7b7b7b transparent transparent transparent;
  }
}

.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}

.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}

.input{
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;

  input{
      display: inline-block;
      width: 100%;
      padding: 10px 15px;
      outline: 0;
      border: 0;
      border-radius: 0;
      background: #e6e6e6;
      color: #7b7b7b;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
  }
}

.menu{
  .placeholder{
    margin: 0 auto;
    margin-top: 25px;

    .image__feed{
      width: 90px;
      height: 90px;
    }
  }

  .placeholder__feed{
    width: 90px;
    height: 90px;
  }
  
  h1{
    text-align: center;
  }

  .error{
    color: red;
    font-size: 16px;
    text-align: center;
  }
}