<!-- Header -->
<div class="header">
    <h1 class="header__label">{{ title }} ({{ mountsCount }})</h1>
</div>

<nav class="genres">
    <ul class="genres__list">
        <li *ngFor="let filter of filters" (click)="getFilter(filter.id)" class="genres__list__item" [ngClass]="{active:filterId==filter.id}">
            <span class="genres__list__link">{{filter.name}}</span>
        </li>
    </ul>
</nav>

<div *ngIf="loading" style="text-align: center;">
    <i class="fa fa-4x fa-spin fa-spinner" style="font-size: 36px!important;"></i>
</div>
<div [hidden]="loading" class="feed animated fadeIn">
    <ul class="feed__list">
        <li class="song" *ngFor="let mount of mountsDisplayed | paginate: { itemsPerPage: 6, currentPage: p }">
            <div class="placeholder placeholder__feed">
                <div class="image image__feed" (click)="selectMount(mount)" [ngStyle]="getWowIconImg(mount.icon)"></div>
            </div>
            <div class="song__info">
                <span class="title">{{ mount.name }}</span>
                <span class="artist">
                    {{ mount.isFlying ? 'Flying' : (!mount.isJumping && mount.isAquatic ? 'Aquatic' : 'Ground') }}
                </span>
            </div>
            <div class="rank">
                <i class="fa fa-heart fav"></i>
            </div>
        </li>
    </ul>
    <pagination-controls (pageChange)="p = $event" previousLabel="Précédent" nextLabel="Suivant"></pagination-controls>
</div>