<div class="red" [ngClass]="characterSelected && characterSelected.faction == 0 ? 'blue' : ''"></div>
<div class="black"></div>

<div appCharacters (characterLoaded)="characterIsLoaded($event)"></div>
<div appMain (mountSelected)="mountIsSelected($event)" [character]="characterSelected"></div>
<div appMountDetail [characterLoaded]="characterSelected" [mount]="mountSelected"></div>