<div *ngIf="mount && mount.name">
    <div class="header">
        <h1 style="color:white;margin:0 auto;" class="header__label">Detail</h1>
    </div>

    <div class="cue-song animated fadeIn">
        <h2 class="playing-label" style="text-align: center;">{{ mount.name }}</h2>
        <div class="placeholder placeholder__feed" style="text-align: center; margin: 0 auto; margin-top: 15px;">
            <div class="image image__feed" [ngStyle]="getWowIconImg(mount.icon)"></div>
        </div>

        <span class="title">
            <a href="https://www.wowhead.com/item={{ mount.itemId }}" target="_blank">
                <img src="assets/img/wh-logo.png" alt="">
            </a>
        </span>

        <span class="title">
           <a *ngIf="mount.french_slug" href="https://www.mamytwink.com/montures/{{ mount.french_slug }}" target="_blank">
                <img src="assets/img/mamytwink-logo.png" alt="">
            </a>
        </span>

        <!--<span class="artist">Ici</span>-->
        <!--<div class="player">-->
            <!--<i (click)="goPrev()" class="fa fa-step-backward"></i>-->
            <!--<i (click)="play()" *ngIf="!playing" class="fa fa-play-circle"></i>-->
            <!--<i (click)="pause()" *ngIf="playing" class="fa fa-pause"></i>-->
            <!--<i class="fa fa-step-forward"></i>-->
        <!--</div>-->
    </div>
</div>