.container{
    height: 100vh;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: .5fr 350px minmax(700px,800px) 350px .5fr;
    grid-template-columns: .5fr 350px minmax(700px,800px) 350px .5fr;
    -ms-grid-rows: 1fr 750px 1fr;
    grid-template-rows: 1fr 750px 1fr;
}