<!-- Logo -->
<div class="logo">
    <!--<img class="logo__img" src="/assets/img/logo.png" alt="Logo">-->
    <h1 class="logo__label">Mounts checker</h1>
</div>

<form class="form" (ngSubmit)="onSubmit()" [formGroup]="characterForm">
    <div class="select">
        <select name="region" formControlName="region" (change)="regionChange($event)">
            <option value="">Choose your region</option>
            <!--<option value="US">US</option>-->
            <option value="EU">EU</option>
            <!--<option value="KR">KR</option>-->
            <!--<option value="TW">TW</option>-->
        </select>
        <div class="select__arrow"></div>
    </div>

    <div class="select">
        <select name="realm" formControlName="realm">
            <option value="">Choose your realm</option>
            <option *ngFor="let realm of realms" [value]="realm.slug">{{ realm.name }}</option>
        </select>
        <div class="select__arrow"></div>
    </div>

    <div class="input">
        <input type="text" placeholder="Enter your name" formControlName="name" name="name">
    </div>

    <div class="error" *ngIf="error">{{ error }}</div>

    <button type="submit">Get my mounts !</button>
</form>

<div *ngIf="currentCharacter">
    <div class="placeholder placeholder__feed">
        <div class="image image__feed" [ngStyle]="getWowIconImg(currentCharacter.thumbnail)"></div>
    </div>

    <h1>{{ currentCharacter.name }}</h1>
</div>

<!-- Watermark -->
<div class="watermark">
    <!-- <img src="@/assets/img/sig.png" alt=""> -->
    <a href="https://twitter.com/AzorghOW" target="_blank" class="watermark__label">Twitter<i class="fa fa-twitter watermark__icon"></i></a>
</div>